<!-- edit-component.html -->
<main class="p-6">
  <div class="container mx-auto mt-8">
      <h2 class="text-2xl font-bold mb-6">Create AD</h2>
      <form (ngSubmit)="saveChanges()" [formGroup]="create">
        <div>

          <div class="grid grid-cols-2 gap-4">
            <mat-form-field appearance="fill">
              <mat-label>Company Name</mat-label>
              <input matInput placeholder="Company Name" formControlName="CompanyName" name="companyName" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Designation</mat-label>
              <input matInput placeholder="Designation" formControlName="Designation" name="designation" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" formControlName="Address" name="address" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Mobile</mat-label>
              <input matInput placeholder="Mobile" formControlName="Mobile" name="mobile" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Telephone</mat-label>
              <input matInput placeholder="Telephone" formControlName="telephone" name="telephone">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Fax Number</mat-label>
              <input matInput placeholder="Fax Number" formControlName="FaxNumber" name="faxNumber">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="Email" name="email" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Description</mat-label>
              <input matInput placeholder="Description" formControlName="Description" name="description" required>
            </mat-form-field>
          </div>

        </div>

        <div class="mt-6">
          <button mat-raised-button color="primary">Save Changes</button>
        </div>
      </form>
    </div>
</main>
