<section class="booking-section">
  <div class="container">
      <div class="row pos-relative padding">
          <div class="col-lg-4">
              <div class="booking-car wow fade-in-left" data-wow-delay="200ms"></div>
          </div>
          <div class="col-lg-8">
              <div class="booking-wrap">
                  <div class="section-heading mb-30">
                      <h4><span></span>Online Registering</h4>
                      <h2 class="white">Register Your Company</h2>
                  </div>
                  <form action="book-ride.php" id="book-taxi-ride">
                      <div class="booking-form">
                          <div class="form-field">
                              <i class="las la-user-tie"></i>
                              <input type="text" id="full-name" name="full-name" class="form-control"
                                  placeholder="Your Name" required>
                          </div>
                          <div class="form-field">
                              <i class="las la-envelope-open"></i>
                              <input type="email" id="email" name="email" class="form-control" placeholder="Email"
                                  required>
                          </div>
                          <div class="form-field">
                              <i class="las la-tags"></i>
                              <select name="package-type" id="type" class="niceSelect">
                                  <option value="standard">Standard</option>
                                  <option value="business">Business</option>
                                  <option value="economy">Economy</option>
                                  <option value="vip-spacial">VIP Spacial</option>
                                  <option value="comfort">Comfort</option>
                              </select>
                          </div>
                          <div class="form-field">
                              <i class="las la-user-friends"></i>
                              <select name="passengers" id="passengers" class="niceSelect">
                                  <option value="1">1 Person</option>
                                  <option value="2">2 Person</option>
                                  <option value="3">3 Person</option>
                                  <option value="4">4 Person</option>
                                  <option value="5">5 Person</option>
                              </select>
                          </div>
                          <div class="form-field">
                              <i class="las la-map-marker"></i>
                              <input type="text" id="start-dest" name="start-dest" class="form-control"
                                  placeholder="Start Destination" required>
                          </div>
                          <div class="form-field">
                              <i class="las la-map-marker"></i>
                              <input type="text" id="end-dest" name="end-dest" class="form-control"
                                  placeholder="End Destination" required>
                          </div>
                          <div class="form-field">
                              <i class="las la-calendar"></i>
                              <input type="text" id="ride-date" name="ride-date" class="form-control date-picker"
                                  placeholder="Select Date" required>
                          </div>
                          <div class="form-field">
                              <i class="las la-clock"></i>
                              <input type="text" id="ride-time" name="ride-time" class="form-control time-picker"
                                  placeholder="Select Time" required>
                          </div>
                          <div class="form-field">
                              <button id="submit" class="default-btn" type="submit">Book Your Taxi</button>
                          </div>
                      </div>
                      <div id="form-messages" class="alert" role="alert"></div>
                  </form><!-- Booking Form -->
              </div>
          </div>
      </div>
  </div>
</section><!--/.booking-section-->

<section class="pricing-section bg-grey bd-bottom padding">
  <div class="container">
      <div class="section-heading text-center mb-40 wow fade-in-bottom" data-wow-delay="200ms">
          <h4><span></span>Registered Companies!</h4>
          <!-- <h2>Choose Your Taxi to Ride!</h2> -->
          <p>We successfully cope with tasks of varying complexity, provide long-term <br>guarantees and regularly
              master new technologies.</p>
      </div><!--/.section-heading-->
      <!-- <ul class="nav pricing-tab-menu" id="pricing-tab" role="tablist">
          <li class="nav-item" role="presentation">
              <button class="nav-link active" id="hybrid-taxi" data-bs-toggle="tab"
                  data-bs-target="#hybrid-taxi-content" type="button" role="tab"
                  aria-controls="hybrid-taxi-content" aria-selected="true">Hybrid Taxi</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="town-taxt" data-bs-toggle="tab" data-bs-target="#town-taxi-content"
                  type="button" role="tab" aria-controls="town-taxi-content" aria-selected="false">Town
                  Taxi</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="limousine-taxi" data-bs-toggle="tab"
                  data-bs-target="#limousine-taxi-content" type="button" role="tab"
                  aria-controls="limousine-taxi-content" aria-selected="false">Limousine Taxi</button>
          </li>
      </ul> -->
      <!--Tab Menu-->
      <div  class="tab-content" id="pricing-tab-content">
          <div class="tab-pane fade show active" id="hybrid-taxi-content" role="tabpanel"
              aria-labelledby="hybrid-taxi-content">
              <div class="row">
                  <div class="col-lg-4 col-md-6 sm-padding my-2" *ngFor="let item of dataSource">
                      <div class="pricing-item">
                          <div class="pricing-head-wrap">
                              <div class="pricing-car">
                                  <img src="assets/img/pricing-car.png" alt="car">
                                  <div class="price">$2.50/km</div>
                              </div>
                          </div>
                          <div class="pricing-head">
                              <h3><a href="taxi-details.html">{{ item.Name }}</a></h3>
                              <span class="location">{{item.Address}}</span>
                          </div>
                          <ul class="pricing-list">
                              <li>Contact Person: <span>{{item.ContactPerson}}</span></li>
                              <li>Designation: <span>{{item.Designation}}</span></li>
                              <li>Email: <span>{{item.Email}}</span></li>
                              <li>Mobile: <span>{{item.Mobile}}</span></li>
                              <!-- <li><a href="book-taxi.html" class="default-btn">Book Taxi Now</a></li> -->
                          </ul>
                      </div>
                  </div>

              </div>
          </div>

      </div><!-- Tab Content -->
  </div>
</section>
<!--/.pricing-section-->
